<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/fontawesome/css/all.css">
        <link rel="shortcut icon" href="">
        <title>Datenbank-Management</title>
    </head>
    <body>
        <main>
            <div class="content">

                <h3 id="tags-headline">Groups</h3>
                <br>
                
                <div class="buttons">
                    <div class="add">
                        <button id="add-new-group"><i title="Add Group" class="fa-solid fa-plus"></i></button>
                    </div>
                    <input type="text" class="input-search" id="input-search-groups" onkeyup="filter_groups()" placeholder="Type to Search...">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h4 id="modal-create-tag-headline">Create new group</h4>
                            <form action="create-new-group" method="post" id="create-new-group">
                                <input type="textfield" name="newGroup" id="new-Data-group" placeholder="" />
                                <br>
                                <input type="submit" value="Create" id="sub-new-group"/>
                            </form>
                        </div>
                    </div>
                    <div class="edit">
                        <button id="edit-group" class="edit-button">Bearbeiten</button>
                    </div>
                </div>
                <div class="faq">
                    <form action="showGroupDetail" method="post" id="showGroupDetail-form">
                        <ul id="group-list">
                            
                        </ul>
                        <input type="text" id="selected-group" name="groupName" value=""/>
                    </form>
                </div>
                <form action="save-changings-group" method="post">
                    <input type="text" id="saved-group" value="" name="changes" />
                    <input type="submit" id="submit-edit" value="Speichern" />
                </form>
            </div>
        </main>
    </body>
    <script>
       let groups = <%- JSON.stringify(groups) %>;
        
    </script>
    <script src="../scripts/groups.js"></script>
</html>